{% extends "base.html.twig" %}

{% block title %} Rapport {% endblock %}


{% block content %}

<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Kmom01</h3>
                    <div class="mb-1 text-muted">Apr 4</div>
                    <p class="card-text mb-auto">{{ include('report/kmom01.markdown.twig')|markdown_to_html}}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" src="/img/1.jpg"width="100%" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                </div>
            </div>
        </div>
        {# kmom02 #}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">kmom02</h3>
                    <div class="mb-1 text-muted">Apr 4</div>
                    <p class="card-text mb-auto">{{ include('report/kmom02.markdown.twig')|markdown_to_html}}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" src="/img/2.jpg"width="100%" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                </div>
            </div>
        </div>

        {# kmom03 #}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">kmom03</h3>
                    <div class="mb-1 text-muted">Apr 4</div>
                    <p class="card-text mb-auto">{{ include('report/kmom03.markdown.twig')|markdown_to_html}}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" src="/img/3.jpg"width="100%" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                </div>
            </div>
        </div>

        {# kmom04 #}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">kmom04</h3>
                    <div class="mb-1 text-muted">Apr 4</div>
                    <p class="card-text mb-auto">{{ include('report/kmom04.markdown.twig')|markdown_to_html}}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" src="/img/4.jpg"width="100%" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                </div>
            </div>
        </div>

        {# kmom05 #}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">kmom05</h3>
                    <div class="mb-1 text-muted">Apr 4</div>
                    <p class="card-text mb-auto">{{ include('report/kmom05.markdown.twig')|markdown_to_html}}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" src="/img/5.jpg"width="100%" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                </div>
            </div>
        </div>

        {# kmom06 #}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">kmom06</h3>
                    <div class="mb-1 text-muted">Apr 4</div>
                    <p class="card-text mb-auto">{{ include('report/kmom06.markdown.twig')|markdown_to_html}}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" src="/img/6.jpg" width="100%" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                </div>
            </div>
        </div>

        {# projekt #}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Projekt</h3>
                    <div class="mb-1 text-muted">Apr 4</div>
                    <p class="card-text mb-auto">{{ include('report/projekt.markdown.twig')|markdown_to_html}}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" src="/img/7.jpg"width="100%" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
